<settings>
  <setting name="dock-layers-minimized" type="System.Boolean">False</setting>
  <setting name="dock-history-minimized" type="System.Boolean">False</setting>
  <setting name="window-size-width" type="System.Int32">956</setting>
  <setting name="window-size-height" type="System.Int32">1058</setting>
  <setting name="ruler-metric" type="System.Int32">0</setting>
  <setting name="window-maximized" type="System.Boolean">False</setting>
  <setting name="ruler-shown" type="System.Boolean">False</setting>
  <setting name="image-tabs-shown" type="System.Boolean">True</setting>
  <setting name="toolbar-shown" type="System.Boolean">True</setting>
  <setting name="statusbar-shown" type="System.Boolean">True</setting>
  <setting name="toolbox-shown" type="System.Boolean">True</setting>
  <setting name="pixel-grid-shown" type="System.Boolean">False</setting>
  <setting name="last-dialog-directory" type="System.String">file:///home/elmaikina/pics</setting>
  <setting name="last-selected-tool" type="System.String">RectangleSelectTool</setting>
  <setting name="primary-color" type="System.String">FFFF7FB6</setting>
  <setting name="secondary-color" type="System.String">FFFFFFFF</setting>
  <setting name="recently-used-colors" type="System.String">FFFF7FB6,FFFFFFFF,FFFF006E,FF000000,FFFF7FB6,FFE5E5E5,FFE5E5E5,FFE5E5E5,FFE5E5E5,FFE5E5E5</setting>
  <setting name="selection-combine-mode" type="System.Int32">0</setting>
  <setting name="magicwandtool-fill-mode" type="System.Int32">0</setting>
  <setting name="magicwandtool-fill-tolerance" type="System.Int32">0</setting>
  <setting name="paintbrushtool-antialias" type="System.Int32">0</setting>
  <setting name="paintbrushtool-brush-width" type="System.Int32">2</setting>
  <setting name="paint-brush-brush" type="System.Int32">0</setting>
  <setting name="penciltool-alpha-blend" type="System.Int32">0</setting>
  <setting name="paintbuckettool-fill-mode" type="System.Int32">0</setting>
  <setting name="paintbuckettool-fill-tolerance" type="System.Int32">0</setting>
  <setting name="color-picker-tool-selection" type="System.Int32">0</setting>
  <setting name="color-picker-sample-size" type="System.Int32">0</setting>
  <setting name="color-picker-sample-type" type="System.Int32">0</setting>
  <setting name="ellipsetool-antialias" type="System.Int32">1</setting>
  <setting name="ellipsetool-brush-width" type="System.Int32">2</setting>
  <setting name="ellipsetool-fill-style" type="System.Int32">0</setting>
  <setting name="ellipsetool-shape-type" type="System.Int32">2</setting>
  <setting name="ellipsetool-dash-pattern" type="System.String">-</setting>
  <setting name="default-image-type" type="System.String">png</setting>
</settings>