.monaco-pane-view {
    font-family: "URW Gothic L";
}
.monaco-action-bar {
    font-family: "URW Gothic L";
}
.monaco-toolbar {
    font-family: "URW Gothic L";
}
.monaco-breadcrumbs {
    font-family: "URW Gothic L";
}
.tabs-container {
    font-family: "URW Gothic L";
}
.menubar {
    font-family: "URW Gothic L";
}
.monaco-scrollable-element {
    font-family: "URW Gothic L";
}
.full-height-scrollable {
    font-family: "URW Gothic L";
}
.markdown-cell-row {
    font-family: "URW Gothic L";
}
.notebook-editor {
    font-family: "URW Gothic L";
}
.preview {
    font-family: "URW Gothic L";
}
.markup {
    font-family: "URW Gothic L";
}