.bilibili-player-area.video-control-show .bilibili-player-video-control-wrap {
    opacity: 1;
    visibility: visibility;
}

.bilibili-player-bas-danmaku,
.bilibili-player-video-adv-danmaku,
.bilibili-player-video-bas-danmaku,
.bilibili-player-video-control-mask,
.bilibili-player-video-danmaku,
.bilibili-player-video-subtitle {
    display: block;
}