.docs-icon,
canvas{
    filter: invert(100%) hue-rotate(180deg) contrast(90%);
}

.color-dialog .hsv-hs-image,
.color-dialog .hsv-v-image {
    filter: inherit !important;
}

.kix-cursor-caret {
    border-color: #cecece !important;
}

.kix-lineview-decorations>div {
    border-color: #aeaeae !important;
}

.docs-title-input,
.docs-title-input-label {
    font-variant-ligatures: none !important;
    font-size: 16px !important;
}