:root {
    --wash: #303030;
    --messenger-card-background: #28282F;
}

:root,
.__fb-light-mode {
    --wash: #303030 !important;
}

video+div {
    background: transparent !important;
}

video~div button {
    filter: invert(40%);
}

svg mask circle,
svg mask rect {
    fill: #fff !important;
}


#globalContainer div[role="banner"] svg,
#globalContainer li[role="row"] svg {
    filter: invert(80%);
}

div[id*='placeholder-'] {
    filter: invert(80%);
    padding-left: 10px;
}

div[role="presentation"] {
    border: 1px solid #4d4d4d;
}

div[data-editor] {
    padding-left: 10px;
}

div[role="navigation"] img[src*="static."] {
    filter: invert(80%);
}

div[data-pagelet="LeftNav"] div:not([role="img"]) > img[src*="static."][alt=""]{
    filter: contrast(0.1) invert(80%);
}

div[role="button"] img[src*="static."]:not([alt]),
div[role="button"] img[src*="static."][alt=""]{
    filter: contrast(0.1) invert(80%);
}

i[style*='https://static.xx.fbcdn.net'] {
    filter: invert(80%);
}

i[data-visualcompletion] {
    filter: invert(80%);
}