.question-status,
.s-sidebarwidget__yellow,
.s-sidebarwidget__yellow .s-sidebarwidget--header {
    background-color: #292812 !important;
}

img[src*="https://chart.googleapis.com/chart"] {
    filter: invert(90%);
}

img[src*="https://latex"] {
    filter: invert(1);
}