[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/elmaikina/apps/Rogue Legacy.desktop]
row=4
col=0

[/home/elmaikina/apps/net.davidotek.pupgui2.desktop]
row=2
col=0

[/home/elmaikina/apps/net.lutris.Lutris.desktop]
row=1
col=0

[/home/elmaikina/apps/steam.desktop]
row=0
col=0

[/home/elmaikina/apps/Super Meat Boy.desktop]
row=3
col=0

[/home/elmaikina/apps/emulationstation.desktop]
row=1
col=1

[/home/elmaikina/apps/Counter-Strike Global Offensive.desktop]
row=5
col=0

[/home/elmaikina/apps/DOOM Eternal.desktop]
row=3
col=1

[/home/elmaikina/apps/The Binding of Isaac Rebirth.desktop]
row=6
col=0

[/home/elmaikina/apps/Celeste.desktop]
row=2
col=1

[/home/elmaikina/apps/info.cemu.Cemu.desktop]
row=0
col=1

