[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/elmaikina/Desktop/Counter-Strike Global Offensive.desktop]
row=2
col=0

[/home/elmaikina/Desktop/Super Meat Boy.desktop]
row=1
col=0

[/home/elmaikina/Desktop/steam.desktop]
row=0
col=0

