[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/elmaikina/apps/FEZ.desktop]
row=10
col=0

[/home/elmaikina/apps/Plants vs. Zombies Game of the Year.desktop]
row=0
col=0

[/home/elmaikina/apps/Mindustry.desktop]
row=2
col=0

[/home/elmaikina/apps/Monster Hunter World.desktop]
row=1
col=0

[/home/elmaikina/apps/Rogue Legacy.desktop]
row=4
col=0

[/home/elmaikina/apps/Inscryption.desktop]
row=9
col=0

[/home/elmaikina/apps/The Binding of Isaac Rebirth.desktop]
row=6
col=0

[/home/elmaikina/apps/Counter-Strike Global Offensive.desktop]
row=5
col=0

[/home/elmaikina/apps/DOOM Eternal.desktop]
row=8
col=0

[/home/elmaikina/apps/Celeste.desktop]
row=7
col=0

[/home/elmaikina/apps/Super Meat Boy.desktop]
row=3
col=0

[/home/elmaikina/apps/Pizza Tower.desktop]
row=0
col=1

