[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/elmaikina/Desktop/steam.desktop]
row=4
col=0

[ee048e2e-9c9c-47f4-9aaf-3bd4397bfda2]
row=3
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/elmaikina]
row=1
col=0

